body {
  font-family: Neue Haas Unica Pro,sans-serif;
  background-color: #fefefa;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.h3 {
  min-height: 70%;
  font-size: 30px;
  font-weight: 100;
}


.intro-box {
  width: 50%;
  margin-bottom: 150px;
  margin-top: 50px;
  padding-left: 30px;
}

#image-container {
  position: fixed;
  left: 50%;
  margin-top: -650px;
  width: 650px;
  height: 880px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: center;
  overflow: hidden;
}

#image-wrap {
  animation: switch 5s ease-out infinite;
}

#image-wrap > img {
  float: left;
  width: 650px;
  height: 880px;
}
@keyframes switch {
  0%, 25% {
    margin-left: 0;
  }
  35%, 60% {
    margin-left: -650px;
  }
  70%, 100% {
    margin-left: -1300px;
  }
}

.img-gif {
  width: 60%;
  padding-top: 20px;
  padding-left: 30px;
}

.brand {
  padding-left: 30px;
}

.title {
  font-size: 60px;
}
.title:hover {
  color: chocolate;
}

.headertext{
  position:relative;
  font-size: 64px;
  font-weight: 700;
  margin: 0 0 20px;
  color: #EEEEEE;
  padding-left: 30px;
}

.introduction {
  padding-left: 30px;
  padding-right: 50px;
}

.control {
  padding-left: 30px;
}
