@media (min-width: 480px) {
  #container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display:flex;
    font-weight: bold;
    padding-left: 5px;
  }

  .game {
    border-color: black;
    margin-left:auto;
    margin-right:auto;
    padding:0.5em;
  }

  .map {
    //background-color: lightblue;
    padding:5px;
    margin: 0.5em;
    width:auto;
    height:auto;
  }
}

@media (min-width: 800px) {
  #container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display:flex;
    font-weight: bold;
    padding-left: 10px;
  }

  .game {
    border-color: black;
    margin-left:auto;
    margin-right:auto;
    padding:0.5em;
  }

  .map {
    //background-color: lightblue;
    padding:7px;
    margin: 0.5em;
    width:auto;
    height:auto;
  }
}

@media (min-width: 1000px) {
  #container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    font-weight: bold;
    padding-left: 20px;
  }

  .game {
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
  }

  .map {
    background-color: lightblue;
    padding:10px;
    margin: 0.5em;
    width: 1100px;
    height: 600px;
  }
}

hr {
  background-color: black;
  height:5px;
  width:95%;
}

.gameplay_buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
}

#player2 {
  margin-right: auto;
  margin-left: auto;
}

#player1 {
  margin-right: auto;
  margin-left: auto;
}
