@()

@main("About Tank") {
    <html>
        <head>
            <link rel="stylesheet" media="screen" type="text/css" href='@routes.Assets.versioned("stylesheets/about.css")' />
        </head>
        <body>
            <div class="container">
                <div class="intro-box">
                    <button type="button" class="btn btn-default">Test Button</button>
                    <h3 class="introduction">
                        Tank is a artillery strategy game where two players battle against each other on a 2D landscape map. <br>
                        Each player has their own tank with 100 life points. Upon hitting the target the player loses 10 life points.
                        You win if the other player has 0 life points left.
                    </h3>

                    <h3 class="introduction">
                        The idea for the project came because there is another popular game called Shellshock live. <br>
                        This is much more complicated because there are many different weapons and items you can collect, <br>
                        but we wanted to implement our own version of this game. In our version there are only 2 Maps, <br>
                        no items to collect, no different weapons to choose from, but you can drive, shoot and enjoy the
                        good music while playing.
                    </h3>
                    <div>
                        <img class="img-gif" src="@routes.Assets.versioned("images/tank_about.gif")" />
                    </div>
                    <div id="image-container">
                        <div class="image-wrap" id="image-wrap">
                            <img src="@routes.Assets.versioned("images/background_tank.jpg")" />
                            <img src="@routes.Assets.versioned("images/tank_gamepage1.png")" />
                            <img src="@routes.Assets.versioned("images/background_tank.jpg")" />
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
}
