@()

@main("About Tank") {
    <html>
        <head>
            <link rel="stylesheet" media="screen" type="text/css" href='@routes.Assets.versioned("stylesheets/about.css")' />
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Tank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/game">Game <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 intro-box">
                        <h3 class="introduction">
                            Tank is a artillery strategy game where two players battle against each other on a 2D landscape map. <br>
                            Each player has their own tank with 100 life points. Upon hitting the target the player loses 10 life points.
                            You win if the other player has 0 life points left.
                        </h3>

                        <h3 class="introduction">
                            The idea for the project came because there is another popular game called Shellshock live. <br>
                            This is much more complicated because there are many different weapons and items you can collect, <br>
                            but we wanted to implement our own version of this game. In our version there are only 2 Maps, <br>
                            no items to collect, no different weapons to choose from, but you can drive, shoot and enjoy the
                            good music while playing.
                        </h3>
                        <div>
                            <img class="img-gif" src="@routes.Assets.versioned("images/tank_about.gif")" />
                        </div>
                    </div>
                    <div class="col-md-6 image-container">
                        <div class="image-wrap" id="image-wrap">
                            <img src="@routes.Assets.versioned("images/background_tank.jpg")" />
                            <img id="tank_background" src="@routes.Assets.versioned("images/tank_gamepage1.png")" />
                            <img src="@routes.Assets.versioned("images/background_tank.jpg")" />
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
}
