@import scalafx.scene.paint.Color.Green
@(controller:de.htwg.se.Tank.controller.controllerComponent.ControllerInterface)
@import de.htwg.se.Tank.model.gameComponent.gameBase.Map
@import scalafx.scene.shape.{Circle, Polygon, Polyline, Rectangle}
@import scala.collection.mutable.ListBuffer
@import scala.collection.mutable
@import de.htwg.se.Tank.aview.gui.MapGUI
@map=@{Map.getFXList(true)}

@main("Tank") {
    <html>
        <link rel="stylesheet" media="screen" type="text/css" href='@routes.Assets.versioned("stylesheets/tank.css")' />
        <body>
            <div id="container">
                <div class="control-box">
                    <div class="controls">
                        <form>
                            <label>
                                Moving to Left/Right: <input value="A/D" size="2">
                            </label>
                        </form>
                        <br>
                        <form>
                            <label>
                                Changing shooting angle: <input value="W/S" size="2">
                            </label>
                        </form>
                        <br>
                        <form>
                            <label>
                                Shooting power: <input value="+/-" size="2">
                            </label>
                        </form>
                        <br>
                        <form>
                            <label>
                                Shooting: <input value="F" size="2">
                            </label>
                        </form>
                        <br>
                        <form>
                            <label>
                                Spielerwechsel: <input value="P" size="2">
                            </label>
                        </form>
                    </div>
                </div>
                <div class="game">
                    <div class="map">
                        <div class="map-shape">
                                <!-- @{Polygon(map.map(_._1): _*)} -->
                            <pre>
                                @controller.gametoString
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
}



