@()

@main("Welcome to Tank") {
    <html>
        <head>
            <title>Main Menu</title>
            <link rel="stylesheet" media="screen" type="text/css" href='@routes.Assets.versioned("stylesheets/menu.css")' />
        </head>
        <body>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 center-block Tank-header">
                        <h1>
                            Tank
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 center-block Name_and_Map">
                        <form action="" method="get">
                            <div class="row">
                                <div class="input-group mb-3 input-name">
                                    <form id="data_player1">
                                        <input id="player1_name" type="text" class="form-control" placeholder="SPIELER 1">
                                    </form>
                                    <form id="data_player2">
                                        <input id="player2_name" type="text" class="form-control" placeholder="SPIELER 2">
                                    </form>
                                </div>

                                <div class="col-md-2 dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="map"
                                    id="dropdownMenuButton" data-toggle="dropdown">
                                        Map
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="mapvalue" aria-labelledby="dropdownMenuButton">
                                        <li>Wolfsschanze</li>
                                        <li>Gerade</li>
                                        <li>Sägezahnhügel</li>
                                    </ul>
                                    <script>
                                        var list = document.getElementById("mapvalue").getElementsByTagName("li");
                                        for (i=0;i<list.length;i++) {
                                            list[i].onclick = function (){
                                                $("#map").html(this.innerHTML);
                                                $("#map").val(i);
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="buttons">
                    <div class="row">
                        <button id="startbutton" class="menubutton" type="sumbit" onclick="getLogin()" >Start</button>
                    </div>

                    <div class="row">
                        <button class="menubutton" type="submit" onclick="aboutPage()">About</button>
                    </div>
                </div>
            </div>
        </body>
    </html>
}