@()

@main("Welcome to Tank") {
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Main Menu</title>
            <link rel="stylesheet" media="screen" type="text/css" href='@routes.Assets.versioned("stylesheets/menu.css")' />
        </head>
        <body>
            <div class="Tank-header">
                <h1>
                    Tank
                </h1>
            </div>
            <div class="Name_and_Map">
                <form>
                    <label>
                        Spieler 1: <input id="player1">
                    </label>
                    <br>
                    <label>
                        Spieler 2: <input id="player2">
                    </label>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Map
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button">Wolfsschanze</button>
                            <button class="dropdown-item" type="button">Gerade</button>
                            <button class="dropdown-item" type="button">Sägezahnhügel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="buttons">
                <form method="get" action="game">
                    <input type="submit" value="Start">
                </form>
                <br>
                <form method="get" action="about">
                    <input type="submit" value="about">
                </form>
            </div>
        </body>
    </html>
}